  <header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <h1 class="display-5 fw-bold">New Project</h1>
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <%= form_with(model: project) do |form| %>
                <% if project.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
                    <ul>
                      <% project.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="container px-4 px-lg-5">
                  <div class="form-group">
                    <h3><%= form.label :name, style: "display: block" %>
                      <h3>
                        <%= form.text_field :name, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <h4><%= form.label :description %></h4>
                        <%= form.text_area :description,:class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= form.label :project_manager_id, style: "display: none;" %>
                        <%= form.hidden_field :project_manager_id, value:created_by %>
                      </div>
                      <div class="form-group">
                        <% if added_users %>
                          <label for="users[]">Users:</label>
                          <% for user in users do %>
                            <br>
                            <%= check_box_tag 'users[]', user.id,
          added_users.ids.include?(user.id) %>
                            <%= user.email %>
                          <% end %>
                        <% else %>
                          <div>
                            <h3><%= form.label :users, style: "display: block" %></h3>
                            <ul>
                              <% users.each do |user| %>
                                <%= check_box_tag "users[]", user.id %> <%= user.email %> <br>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                      </div>
                      <div>
                        <%= form.submit "Cretae",:class =>"btn btn-primary btn-lg text-uppercase fw-bold" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
