<h1>Listing bugs</h1>

<table>
  <tr>
    <th>Bug name</th>
    <th>Detail</th>
    <th>Status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.bug_name %></td>
    <td><%= bug.detail %></td>
    <td><%= bug.status %></td>
    <td><%= @project.name %></td>
    <td><%= link_to 'Show', [bug.project, bug] %></td>
    <td><%= link_to 'Edit', edit_project_bug_path(bug.project, bug) %></td>
    <td><%= button_to "Destroy this Bug", [bug.project, bug], method: :delete, data: { confirm: 'Are you sure?' } %></td>
   
   
  </tr>
<% end %>
</table>

<br />

<% if (current_user.role == 'qa' || current_user.role == 'admin' || current_user.role == 'project_manager') %>
  <%= link_to 'New Bug', new_project_bug_path(params[:project_id]) %>
<% end %>


