<h1>Listing features</h1>

<table>
  <tr>
    <th>Feature name</th>
    <th>Status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @features.each do |feature| %>
  <tr>
    <td><%= feature.feature_name %></td>
    <td><%= feature.status %></td>
    <td><%= @project.name %></td>
    <td><%= link_to 'Show', [feature.project, feature] %></td>
    <td><%= link_to 'Edit', edit_project_feature_path(feature.project, feature) %></td>
    
    <% if (current_user.role == 'project_manager' || current_user.role == 'admin') %>
          <td><%= button_to "Destroy this Feature", [feature.project, feature], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    <% end %>
  </tr>
<% end %>
</table>

<br />


<% if (current_user.role == 'project_manager' || current_user.role == 'admin' || current_user.role == 'qa') %>
  <%= link_to 'New Feature', new_project_feature_path(params[:project_id]) %>
<% end %>


